body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.structureChips ul {
  width: 100%;
}

.p-dialog .p-dialog-header {
  background-color: #fafafa;
}

.p-dialog .p-dialog-content {
  background-color: #fafafa;
}

.p-dialog .p-dialog-footer {
  background-color: #fafafa;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.5rem;
  text-decoration:underline;
}

